<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
    <style>

      .box {
        background-color: #1c1d29; /* dark card background */
        border-radius: .5rem;       /* rounded corners */
        padding: 1rem;
        margin-top: 1rem; 
        margin-bottom: 1rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3); /* soft shadow */
      }

      h2 {
        margin-top: 0;
        padding-bottom: 8px;
      }

      .date-tag {
        display: inline-block;
        background: #a58fff;
        color: black;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 0.8em;
        margin-bottom: 6px;
      }

      .job-title {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0px;
      }

      .company {
        font-style: italic;
        color: #aaa;
      }

      ul {
        margin: 10px 0 0 20px;
      }
    </style>
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          <ul>
            <li><a href="#GenInfo"></a>General Information</li>
            <li><a href="#Education"></a>Education</li>
            <li><a href="#work"></a>Work Experience</li>
          </ul>
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          <div class = "box">
            <h2 id="GenInfo">General Information</h2>
            <p><strong>Name:</strong> Lucas Lanzendorf</p>
            <p><strong>Email:</strong> <a href="mailto:lucaslanzendorf@gmail.com" style="color:#a58fff">lucaslanzendorf@gmail.com</a></p>
            <p><strong>Phone:</strong> (978) 906 3338</p>
            <p><strong>Url:</strong> <a href="https://lucaslanzendorf.com" style="color:#a58fff">https://lucaslanzendorf.com</a></p>
          </div>
          


          <div class = "box">
            <h2 id="Education">Education</h2>
            <div>
              <span class="date-tag">09/2020 - 06/24</span>
              <p class="job-title">B.S. Mechanical Engineering, Concentration in Robotics</p>
              <p class="company">California Institute of Technology</p>
              <h3>Relevant Courses</h3>
              <ul style="column-count: 2;">
                <li>Robotics Systems</li>
                <li>Experimental Robotics</li>
                <li>Robotic Design Laboratory</li>
                <li>Thermal Science</li>
                <li>Mechanics</li>
                <li>Mechanical Prototyping</li>
                <li>Fluid Dynamics</li>
                <li>Feedback Systems</li>
                <li>Systems Engineering</li>
                <li>Advanced Robotics</li>
                <li>Kinematics</li>
                <li>Dimensional Analysis</li>
              </ul>
              <br>
              <h3>Extracurriculars</h3>
              <li>Caltech Robotics Club </li>
              <li>Caltech Rover Autonomy, Technology, and Exploration Research Club</li>
              <li>NCAA Track and Field Athlete</li>
              <li>Vice President of Student Housing</li>
              <li>Society of Hispanic Professional Engineers</li>
            </div>
          </div>


          <div class = "box">
            <h2 id="work">Work Experience</h2>
          <div>
              <span class="date-tag">09/2024 - Present</span>
              <p class="job-title">Mechanical Engineer</p>
              <p class="company">General Dynamics Electric Boat</p>
              <p><em>Sole ownership over three critical reactor plant systems for future fast attack submarines, informing Department of Energy
          engineers on system design characteristics including materials, construction plans, components, and arrangements</em></p>
              <ul>
              <li>Performing cost analyses, failure mode analyses, heat load calculations, and trade studies</li>
              <li>Leading interdisciplinary teams of engineers, technicians, and tradespeople to develop novel fluid systems designs</li>
              <li>Developing Naval Nuclear Propulsion Plant technical system design documentation for government approval and information</li>
              <li>Lead engineer for robotic welding and automated non-destructive testing in naval reactor piping applications</li>
              </ul>
          </div>
          <hr style="border:0.5px solid #333; margin:20px 0;">
          <div>
              <span class="date-tag">06/2023 - 06/2023</span>
              <p class="job-title">Mechatronics Engineer Internship</p>
              <p class="company">Offworld</p>
              <p><em>At Offworld...</em></p>
              <ul>
              <li>Reduced localization error by 198% through LiDAR-inertial odometry through hardware design</li>
              <li>Design ownership of 3 robotic testing platforms for software integration</li>
              <li>Designed and integrated telescopic mast for sensor relocation</li>
              <li>Developed sensor mounting hardware with additive manufacturing</li>
              <li>Performed and presented trade studies on robotic mobility platforms for swarm deployment to Head Mechatronics Engineers</li>

              </ul>
          </div>
          </div>



          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
