<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          <div class="box">
            <h2>Basics</h2>
            <p><strong>Name:</strong> Lucas Lanzendorf</p>
            <p><strong>Label:</strong> Mechanical Engineer</p>
            <p><strong>Email:</strong> <a href="mailto:lucaslanzendorf@gmail.com" style="color:#3b82f6">lucaslanzendorf@gmail.com</a></p>
            <p><strong>Phone:</strong> (774) 303-0696</p>
            <p><strong>Url:</strong> <a href="https://lucaslanzendorf.com" style="color:#3b82f6">https://lucaslanzendorf.com</a></p>
          </div>

          <div class="box">
            <h2>Work</h2>
          <div>
              <span class="date-tag">2024.09 - Present</span>
              <p class="job-title">Mechanical Engineer</p>
              <p class="company">General Dynamics Electric Boat</p>
              <p><em>Sole ownership over three critical reactor plant systems for future fast attack submarines, informing Department of Energy
          engineers on system design characteristics including materials, construction plans, components, and arrangements</em></p>
              <ul>
              <li>Performing cost analyses, failure mode analyses, heat load calculations, and trade studies</li>
              <li>Leading interdisciplinary teams of engineers, technicians, and tradespeople to develop novel fluid systems designs</li>
              <li>Developing Naval Nuclear Propulsion Plant technical system design documentation for government approval and information</li>
              <li>Lead engineer for robotic welding and automated non-destructive testing in naval reactor piping applications</li>
              </ul>
          </div>
          <hr style="border:0.5px solid #333; margin:20px 0;">
          <div>
              <span class="date-tag">2023.6 - 2023.09</span>
              <p class="job-title">Mechatronics Engineer Internship</p>
              <p class="company">Offworld</p>
              <p><em>At Orbis I worked as one of two full time mechanical engineers ...</em></p>
              <ul>
              <li>Reduced localization error by 198% through LiDAR-inertial odometry through hardware design</li>
              <li>Design ownership of 3 robotic testing platforms for software integration</li>
              <li>Designed and integrated telescopic mast for sensor relocation</li>
              <li>Developed sensor mounting hardware with additive manufacturing</li>
              <li>Performed and presented trade studies on robotic mobility platforms for swarm deployment to Head Mechatronics Engineers</li>

              </ul>
          </div>
          </div>
          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
