<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
    
    
    <style>
        .pdf {
          display: flex; 
          justify-content: center;
        }

        .single-img{
          display: block; 
          margin: 0 auto;
          width: 50%;
        }

    </style>
  </head>

  <body>
    <div class="site-container">
      <header class="site-header" style="padding-right: 20vw; padding-left: 20vw;">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper" style="grid-template-columns: 80%; justify-content: center;">
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
            {{ content }}
          <footer class="site-footer" style="width:100%">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
